@import '@/styles/animations.scss';

.chat {
  transform-origin: top;
  animation: fadeIn .2s ease-in;
  border: 1px solid var(--color-light-gray);
}

.chatBubble {
  color: var(--color-light);
  background-color: var(--color-main);
  display: flex;
  border-radius: 50%;
  padding: 1.5rem;
  cursor: pointer;

  svg {
    font-size: 1.5em;
  }
}

.chatBubble {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.chat {
  position: fixed;
  bottom: 8em;
  right: 2em;
  max-width: 300px;
  width: 100%;
  background-color: var(--color-light);
  border-radius: .5em;
  overflow: hidden;
  box-shadow: 0 0 26px -18px rgba(0, 0, 0, 0.5);

  .chatBody {
    padding: 1em;
    min-height: 260px;
    max-height: 260px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .chatHeader {
    background-color: var(--color-light);
    border-bottom: 1px solid var(--color-gray);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h4 {
      font-weight: 400;
    }

    .closeButton {
      cursor: pointer;
      color: var(--color-main);
      font-size: 1.5em;
    }
  }
}

.chatMessage {
  margin-bottom: 1rem;
  font-size: 14px;
  display: flex;
  flex-flow: column;

  &.systemMessage {
  }
  
  &.userMessage {
    align-self: flex-end;
    
    .messageText {
      color:var(--color-light);
      background-color: var(--color-chat-user);
    }

    .messageContainer {
      align-items: flex-end;
    }
  }

  .messageText {
    padding: .5rem;
    background-color: var(--color-light-gray);
    border-radius: 12px;
    line-height: 1.5;
  }

  .messageTime {
    font-size: 12px;
    color: var(--color-dark-gray);
    padding: 0 4px;
  }

  .messageContainer {
    animation: fadeIn .2s ease-in;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: .25rem;
  }

  .messageOptions {
    animation: fadeIn .4s ease-in;
    display: flex;
    flex-flow: column;
    margin: 1rem 0 0;
    gap: .5rem;

    button {
      cursor: pointer;
      background-color: var(--color-chat-choice);
      min-width: 60px;
      color: var(--color-light);
      border: none;
      display: block;
      padding: .5rem;
      border-radius: 10px;

      &:hover {
        background-color: var(--color-chat-choice-hover);
      
      }
    }
  }
}

.chatTextArea {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  padding: 1em;
  border-top: 1px solid var(--color-gray);

  textarea {
    flex: 1;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid var(--color-gray);
    max-height: 48px;
    min-height: 48px;
    max-width: 100%;
    resize: none;
  }

  button {
    cursor: pointer;
    color: var(--color-light);
    background: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    border: 1px solid var(--color-gray);

    &:hover svg {
      color: black;
    }

    svg {
      color: var(--color-dark-gray);
      font-size: 24px;
    }
  }

  &.isDisabled {
    opacity: .5;
    pointer-events: none;
  }
}